$cor-botao-padrao: #FFF;
$cor-bg-botao-padrao: #19B3E6;

@import 'botao';

body {
	background-color: #777;
	background-image: url(../imgs/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}