<div class="container-fluid container-top">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-md-5 mb-5 mb-md-0">
        <h2 class="top-title text-white">Email Marketing</h2>
        <p class="top-text text-white">It seems like hundreds of new iWatch apps pop up every week, but which ones should you bother trying?</p>
        <button class="btn btn-outline-light top-btn">Learn more</button>
      </div>

      <div class="col-12 col-md-5">
        <img src="/imgs/open-letter.png" alt="Envelope" class="img-fluid open-letter">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-email">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <h3 class="email-title">Email let’s you...</h3>
      </div>
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-md-6 col-lg-3 card-email">
        <div>
          <span><i class="fa fa-address-book"></i></span>
          <h5>Notify</h5>
        </div>
        <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
        <a href="http://www.bancopan.com.br/" target="_blank">Learn more</a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 card-email">
        <div>
          <span><i class="fa fa-share-alt"></i></span>
          <h5>Share</h5>
        </div>
        <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
        <a href="http://www.bancopan.com.br/" target="_blank">Learn more</a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 card-email">
        <div>
          <span><i class="fa fa-wifi"></i></span>
          <h5>Connect</h5>
        </div>
        <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
        <a href="http://www.bancopan.com.br/" target="_blank">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-app">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-md-6 mb-3 mb-md-0">
        <img src="/imgs/img-advanced-mail-app.png" class="img-fluid">
      </div>

      <div class="col-12 col-md-6 d-flex flex-column justify-content-between align-items-start">
        <h3>World’s <strong>most advanced Email App</strong> with High-Tech solutions</h3>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem .</p>
        <div class="btns-area">
          <a href="http://www.bancopan.com.br/" target="_blank"><img src="/imgs/btn-google-play.png" alt="Google Play"></a>
          <a href="http://www.bancopan.com.br/" target="_blank"><img src="/imgs/btn-app-store.png" alt="App Store"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-solution">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-md-4 mb-5 mb-md-0">
        <h3>One App, <strong>One Solution</strong></h3>
        <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five</p>
      </div>

      <div class="col-12 col-md-8 d-flex flex-row justify-content-around justify-content-md-between align-items-center flex-wrap content-box-solution">
        <div class="box-solution">
          <i class="fas fa-map-marker-alt"></i>
          <p>Locations</p>
        </div>
        <div class="box-solution">
          <i class="fa fa-microphone"></i>
          <p>Voicer over</p>
        </div>
        <div class="box-solution">
          <i class="fa fa-calendar"></i>
          <p>Calender</p>
        </div>
        <div class="box-solution">
          <i class="fa fa-heart"></i>
          <p>Heart rate</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-video">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-12">
        <div class="box-video-player" data-toggle="modal" data-target=".bd-modal-xl">
          <img src="/imgs/bg-video-player.jpg" alt="Video player" class="img-fluid">
        </div>

        <div class="modal fade bd-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/x-QKn_GxLwU?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-12 col-md-5">
        <h3>The <strong>Ultimate Solution</strong> for All Multiple Devices</h3>
      </div>

      <div class="col-12 col-md-6">
        <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
        <a href="http://www.bancopan.com.br/" target="_blank">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-great-app">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-lg-6 mb-5 mb-md-0">
        <h3>Why you should buy this <strong>Great App...</strong></h3>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to r</p>
        <button class="btn btn-primary btn-great-app">Learn more</button>
      </div>

      <div class="col-12 col-lg-6 d-flex flex-row justify-content-center align-items-center flex-wrap">
        <div class="great-item col-6 col-lg-4">
          <span><i class="fa fa-cloud"></i></span>
          <p>iCloud</p>
        </div>
        <div class="great-item col-6 col-lg-4">
          <span><i class="far fa-image"></i></span>
          <p>Photos</p>
        </div>
        <div class="great-item col-6 col-lg-4">
          <span><i class="far fa-bell"></i></span>
          <p>Reminders</p>
        </div>
        <div class="great-item col-6 col-lg-4">
          <span><i class="fas fa-map-marker-alt"></i></span>
          <p>Maps</p>
        </div>
        <div class="great-item col-6 col-lg-4">
          <span><i class="fas fa-redo"></i></span>
          <p>Backups</p>
        </div>
        <div class="great-item col-6 col-lg-4">
          <span><i class="fas fa-music"></i></span>
          <p>Music</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-counters">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
        <div class="box-counter">
          <h6>5K</h6>
          <p>Happy</p>
          <span>Costumers</span>
        </div>
        <div class="box-counter">
          <h6>150</h6>
          <p>Sweet</p>
          <span>Template</span>
        </div>      
        <div class="box-counter">
          <h6>20</h6>
          <p>Great</p>
          <span>Partner</span>
        </div>
        <div class="box-counter">
          <h6>90</h6>
          <p>Email</p>
          <span>Delivered</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-testimony">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="quote-title">
          <i class="fas fa-quote-left"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div id="carouselTestimonies" class="carousel slide pb-5 carousel-testimonies" data-ride="carousel" data-touch="true">
          <ol class="carousel-indicators">
            <li data-target="#carouselTestimonies" data-slide-to="0" class="active"></li>
            <li data-target="#carouselTestimonies" data-slide-to="1"></li>
            <li data-target="#carouselTestimonies" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="box-testimony">
                <p class="testimony">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, </p>
                <p class="witness">Michal Adam</p>
                <p class="office">App Developer</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box-testimony">
                <p class="testimony">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, </p>
                <p class="witness">Michal Adam</p>
                <p class="office">App Developer</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box-testimony">
                <p class="testimony">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, </p>
                <p class="witness">Michal Adam</p>
                <p class="office">App Developer</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-blog">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="title-blog">
          <h3><strong>Latest from</strong> our Blog</h3>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-4">
        <div class="box-blog">
          <img src="imgs/img-blog-1.jpg" alt="iPhone" class="img-fluid">
          <h5>Benefits of Griffin Survivor iPhone 5</h5>
          <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only</p>
          <a href="http://www.bancopan.com.br/" target="_blank">Read more</a>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="box-blog">
          <img src="imgs/img-blog-2.jpg" alt="Mobile" class="img-fluid">
          <h5>Altimate Solution for Mobile Application</h5>
          <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only</p>
          <a href="http://www.bancopan.com.br/" target="_blank">Read more</a>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="box-blog">
          <img src="imgs/img-blog-3.jpg" alt="Plataforms" class="img-fluid">
          <h5>All Mobile Applications Develop Platforms</h5>
          <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only</p>
          <a href="http://www.bancopan.com.br/" target="_blank">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-email-ads">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h3>Find Yours ? <strong>Subscribe now</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center flex-column flex-md-row align-items-center">
        <input type="email" name="email" class="form-email shadow-lg" placeholder="Email Address" aria-label="Email">
        <button class="btn btn-primary btn-email-ads">subscribe</button>
      </div>
    </div>
  </div>
</div>